.timePlan {
    width: 100%;
    height: 100%;
    .timePlanHome{
        width: 100%;
        height: 100%;
    }
    .timePlanHeader {
        width: 100%;
        height: 30px;
        background: url(../../../imgs/smalltit.png) center 10px no-repeat;
        background-size: 100% 100%;
        text-align: center;
        line-height: 30px;
        font-size: 17px;
    }

    .timePlanContent {
        width: 100%;
        height: 100%;
        display: flex;
        background: #031B37;
        .timePlanDirection {
            flex: 7.5;
            display: flex;
            flex-wrap: wrap;


            .timePlanItem {
                width: 200px;
                height: 90px;
                background: url(../../../imgs/jiaoK.png) center no-repeat;
                background-size: 100% 100%;
                margin-left: 16px;
                margin-top: 10px;
                display: flex;

                .timePlanIcon {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .timePlanNum {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    color: #13D4EF;
                    text-decoration: underline;
                    font-weight: 800;
                }

                .timePlanChange {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .timePlanExecuteHome {
            flex: 2.5;
            display: flex;
            .timePlanAllShow {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                font-size: 30px;
                color: #13D4EF;
                .scheme{
                    padding: 9px 0;
                    display: flex;
                    .schemeNum{
                        margin-left: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .period{
                    padding: 9px 0;
                    display: flex;
                    .periodNum{
                        margin-left: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .timePlanExecute {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .timePlanExecuteNext {
                    width: 123px;
                    height: 133px;
                    border: 1px solid #13D4EF;
                    font-size: 35px;
                    background: #112A4C;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    position: absolute;
                    top: 50px;
                    right: 20px;
                    .timePlanExecuteBox{
                        width: 100%;
                        height:50%;
                        display: flex;
                        flex-direction: column;
                        color: #13D4EF;
                        align-items: center;
                        div{
                            width: 60%;
                            height: 50px;
                            text-align: center;
                            border-bottom: 3px solid #008EC7;
                        }
                        div:nth-child(2){
                            color:#008EC7
                        }
                    }
                }
            }
        }
    }


}