.timePlan {
    width: 100%;
    height: 100%;
    .timePlanHome{
        width: 100%;
        height: 100%;
    }
    .timePlanHeader {
        width: 100%;
        height: 30px;
        background: url(../../../imgs/smalltit.png) center 10px no-repeat;
        background-size: 100% 100%;
        text-align: center;
        line-height: 30px;
        font-size: 17px;
    }
    .timePlanContent {
        width: 100%;
        height: 100%;
        display: flex;
        background: #031B37;
        .timePlanDirection {
            flex: 7.5;
            display: flex;
            justify-content: center;
            align-content: center;
            .timePlanDirectionHome{
                width: 100%;
                height: 200px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 25px;
                margin-left: 12px;
                .timePlanItem {
                width: 20%;
                height: 80px;
                background: url(../../../imgs/jiaoK.png) center no-repeat;
                background-size: 100% 100%;
                margin-left: 16px;
                margin-top: 10px;
                display: flex;
                .timePlanIcon {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .timePlanNum {
                    flex:2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    color: #13D4EF;
                    text-decoration: underline #025FAC;
                    font-weight: 800;
                }
                .timePlanChange {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    
                    position: relative;
                    color: #0087C1;
                    .CaretUpOutlined{
                        font-size: 25px;
                        position: absolute;
                        top: 11px;
                        left: 5px;
                        cursor: pointer;
                        &:hover{
                            color: #13D4EF;
                        }
                    }
                    .CaretDownOutlined{
                        font-size: 25px;
                        position: absolute;
                            bottom: 11px;
                            left: 5px;
                            cursor: pointer;
                        &:hover{
                            color:#13D4EF;
                        }
                    }
                    
                }
            }
            }
            
        }
        .timePlanExecuteHome {
            flex: 2.5;
            display: flex;
            .timePlanAllShow {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                font-size: 30px;
                color: #13D4EF;
                .scheme{
                    padding: 9px 0;
                    display: flex;
                    .schemeNum{
                        margin-left: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .period{
                    padding: 9px 0;
                    display: flex;
                    .periodNum{
                        margin-left: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .timePlanExecute {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                .timePlanExecuteNext {
                    width: 123px;
                    height: 133px;
                    border: 1px solid #13D4EF;
                    font-size: 35px;
                    background: #112A4C;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    .timePlanExecuteBox{
                        width: 100%;
                        height:100%;
                        display: flex;
                        flex-direction: column;
                        color: #13D4EF;
                        align-items: center;
                        div{
                            width: 60%;
                            height: 50px;
                            text-align: center;
                            line-height: 55px;
                            border-bottom: 3px solid #008EC7;
                        }
                        div:nth-child(1){
                            border-color: #13D4EF;
                        }
                        div:nth-child(2){
                            color:#008EC7
                        }
                    }
                }
            }
        }
    }


}