.interMsgWrapper {
    padding: 10px;
    // background: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
    margin-bottom: 3px;
    .chartsTitle {
        font-size: 15px;
        color: #25B8D4;
    }
    .chartsSearch {
        height: 50px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        :global(.ant-picker) {
            height: 30px;
            border: none;
            background-color: #16537F;
            color: #F1F1FB;
        }
        :global(.ant-picker-suffix) {
            display: none;
        }
        :global(.ant-picker-clear) {
            display: none;
        }
        :global(.ant-picker-input > input) {
            color: #F1F1FB;
        }
        :global(.ant-select-selection__rendered) {
            line-height: 28px;
        }
        :global(.ant-select-selector) {
            background-color: #16537F;
            color: #F1F1FB;
            border: none;
            box-shadow: none;
            display: flex;
            align-items: center;
        }
        :global(.ant-select-arrow) {
            color: #F1F1FB;
        }
        :global(.ant-select-multiple .ant-select-selection-item) {
            color: #F1F1FB;
            background-color: transparent;
            border: none;
            margin-top: 2px;
        }
        :global(.ant-select-selection-item-remove) {
            color: #46A7C6;
        }
        .searchBtn {
            width: 80px;
            height: 30px;
            margin-left: 5px;
            text-align: center;
            line-height: 30px;
            border-radius: 3px;
            color: #5F9FDC;;
            cursor: pointer;
            background-color: #264D88;        
        }
        .searchActive {
            background-color: #0673B6;
            color: #2AC8F1;
        }
    }
}