.timeTablePage {
    width: 100%;
    height: 100%;
    font-size: 16px;
    .timeTableHeader {
        width: 100%;
        height: 30px;
        background: url(../../../imgs/smalltit.png) center 10px no-repeat;
        background-size: 100% 100%;
        text-align: center;
        line-height: 30px;
        font-size: 17px;
    }
    .timeTableContent {
        width: 100%;
        height: calc(100% - 30px);
        background: #031B37;
        // opacity: .67;
        .timeTableSelect {
            width: 100%;
            height: 50px;
            display: flex;
            .selectTimeType {
                flex: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                .ant-select {
                    width: 196px;
                    color: #fff;
                    border: 1px solid #2E6F8C;
                    font-size: 17px;
                }
                .ant-select-selector {
                    border: none;
                    background-color: #102A4B;
                }
                .ant-select-arrow {
                    color: #fff;
                }
            }

            .selectTime {
                flex: 2;
                display: flex;
                justify-content: left;
                align-items: center;
                .ant-select {
                    width: 196px;
                    color: #fff;
                    border: 1px solid #2E6F8C;
                    font-size: 17px;
                }
                .ant-select-selector {
                    border: none;
                    background-color: #102A4B;
                }
                .ant-select-arrow {
                    color: #fff;
                }
            }

            .timeTableButton {
                flex: 6;
                position: relative;
                .timeTableBtn {
                    display: flex;
                    position: absolute;
                    right: 23px;
                    top: 10px;
                    .addTable {
                        margin-left: 23px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .updateTable {
                        margin-left: 23px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .saveTable {
                        margin-left: 23px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .timeTableList {
                width: 100%;
                height: calc(100% - 30px);
                table-layout : fixed;
                .tableList{
                   width: 100%;
                    height: calc(100% - 30px);
                    .tableName{
                        width:100%;
                        height: 20%;
                            .tableTd:hover{
                                background: #102A4B;
                                cursor: pointer;
                            }
                    }
                    .tableBody{
                        width:100%;
                        height: 80%;
                        td{
                            width:20%;
                            white-space:normal;
                        }
                    }
                }
            }
    }
}