.scheduleHome {
    position: relative;
    width: 100%;
    height: 100%;
    background: #070d3f;
    font-family: 'PingFang-SC-Regular';
    
    .scheduleHomePage {
        width: 100%;
        height: 88%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 80px;
        .timeTable {
            width: calc(100% - 635px);
            height: 600px;
            margin-right: 13px;
        }

        .timePlan {
            width: calc(100% - 635px);
            height: calc(100% - 600px);
            margin-right: 13px;
        }

        .mapCalender {
            width: 620px;
            height: 100%;

            .calender {
                width: 620px;
                height: 483px;
                margin-bottom: 25px;
            }

            .minMap {
                width: 620px;
                height: calc(100% - 483px);
                border: 2px solid #093B52;
            }
        }
    }
}