.AreaMon {
    width: 100%;
    height: 100%;
    background: url(../../imgs/sysbg.png) center center no-repeat;
    background-size: cover;
    font-family: 'PingFang-SC-Regular';
    position: relative;
    .modeAreaContent{
        position: absolute;
        top: 80px;
        left: 5px;
        width: 300px;
        height: calc(100% - 80px);
        background: rgba(3,28,68,.56);
        z-index: 2;
        .NavMon {
            width: 100%;
            height: 100%;
            .areaMonNum {
                width: 100%;
                height: 30px;
                display: flex;
                line-height: 30px;
                background: #041D3E;
                color: #2D64C6;
                div {
                    margin-left: 10px;
                }
            }
            // 左侧导航头部
            .topNavMon {
                width: 100%;
                height: 30px;
                display: flex;
                margin-top: 10px;
                .selectNav {
                    flex: 4;
                    margin-left: 7px;
                    select {
                        width: 80%;
                        height: 30px;
                        background: #0A255E;
                        margin-left: 5px;
                        text-indent: 5px;
                        cursor: pointer;
                        
                    }
                    .ant-select {
                        width: 85px;
                        color: #fff;
                    }
                    .ant-select-selector {
                        border: none;
                        background-color: #0A2967;
                    }
                    .ant-select-arrow {
                        color: #fff;
                        position: absolute;
                        top: 17px;
                        right: 13px;
                    }
                    .ant-select-selection-item{
                        padding-top: 3px;
                        
                    }
                }
                .iptSearchNav {
                    flex: 6;
                    padding-left: 5px;
                    position: relative;
                    margin-right: 7px;
                    height: 32px;
                    .inptNavMon {
                        width: 80%;
                        height: 100%;
                        background: #0A255E;
                        border: none;
                        margin-left: 5px;
                        padding-left: 7px;
                        outline: none;
                        border-radius: 4px;
                    }
                    .MagBox {
                        cursor: pointer;
                        width: 20%;
                        height: 100%;
                        background: #0A255E;
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: #61A4FF;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                    }
                }
            }
            .listNav {
                width: 100%;
                height: calc(100% - 90px);
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                .ant-menu{
                    background: rgba(4,24,56,0);
                    border: none;
                    color: rgb(134, 183, 250);
                }
                 .ant-menu-submenu-arrow::before {
                    background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
                }
                 .ant-menu-submenu-arrow::after {
                    background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
                }
                .ant-menu-item-selected {
                    background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
                }
            }
    
        }
    }
    .mapContent {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(100% - 60px);
    }    
    .modeSwitchBtn{
        width: 103px;
        height: 28px;
        position: absolute;
        right: 28px;
        top: 113px;
        .modeTab{
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 28px;
            background: url(../../imgs/kuang.png) center center no-repeat;
            background-size: 100% 100%;
            color: #ccc;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .modeSequenceChartShowHome{
        width: 100%;
        height: calc(100% - 100px);
        position: absolute;
        top: 100px;
        .modeSequenceChartShowList{
            width: 730px;
            height: 100%;
            background:#031835;
            position: absolute;
            left: 17px;
            top: 0;
            .modeSequenceCharShowListHead{
                width: 100%;
                height: 63px;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 17px;
                font-weight: 700;
                .modeSequenceCharShowListHeadInfo{
                    flex: 1;
                    .subareaDetails{
                        width: 155px;
                        height: 30px;
                        text-align: center;
                        margin-top: 5px;
                        .BGLine{
                            width: 90%;
                            height: 2px;
                            background: linear-gradient(to right,#002D5E,#81E1FF,#002D5E);
                        }
                    }
                }
                .modeSequenceCharShowListHeadChildName{
                    flex:1;
                    display: flex;
                    .modeChildMark{
                        display: flex;
                        flex: 1;
                        margin-top: 5px;
                        .modeChildMarkNum{
                            width: 60px;
                            height: 21px;
                            text-align: center;
                            line-height: 26px;
                                h3{
                                    margin-left: 10px;
                                    color:#3AE7EB;
                                    font-size: 21px;
                                }    
                        }
                    }
                    .modeChildName{
                        display: flex;
                        flex: 1;
                        margin-top: 5px;
                        .modeChildMarkText{
                            width: 90px;
                            text-align: center;
                            margin-left: 10px;
                            color: #3AE7EB;
                            font-size: 17px;
                        }
                    }
                }
            }
            .modeSequenceCharShowListBox{
                width: 100%;
                height: calc(100% - 63px);
                position: absolute;
                left: 0;
                top: 63px;
                overflow-y: auto;
                .modeSequenceCharShowListBoxTable{
                    width: 100%;
                    display: table;
                    font-weight: 600;
                    .modeSequenceCharShowListBoxTh{
                        display: table-row;
                        .modeSequenceCharShowListBoxTd{
                            height: 50px;
                            display: table-cell;
                            text-align: center;
                            font-size: 15px;
                            line-height: 50px;
                            color: #2FA7DC;
                        }
                    }
                    .modeSequenceCharShowListBoxTr{
                        display: table-row;
                        .modeSequenceCharShowListBoxTd{
                            height: 50px;
                            display: table-cell;
                            text-align: center;
                            font-size: 15px;
                            line-height: 50px;
                        }
                        &:hover{
                            background: rgba(19,116,136,1);
                        }
                    }
                    .moveLeft{
                        text-indent: 22px;
                        text-align: left !important;
                    }
                }
                
            }
        }
        .modeSequenceChartShowChart{
            width: calc(100% - 756px);
            height: 100%;
            background:#031835;
            position: absolute;
            top: 0;
            right: 0px;
            .modeSequenceChartShowChartHead{
                width: 100%;
                height: 74px;
                .modeSequenceChartShowChartIptSearch{
                    position: relative;
                    .ant-select{
                        background: #031835 !important;
                    }
                    .ant-select-selector{
                        background: #033653;
                        border: 1px solid #244662;
                        color: #fff;
                        border-radius: 2px;
                        height: 37px;
                    }
                    .ant-select-arrow{
                        color: #fff;
                        font-size: 16px;
                        position: absolute;
                        top: 49%;
                        right: 15px;
                    }
                    
                }
                .modeSwitchBtn{
                    width: 103px;
                    height: 28px;
                    position: absolute;
                    right: 28px;
                    top: 25px;
                    .modeTab{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 28px;
                        background: url(../../imgs/kuang.png) center center no-repeat;
                        background-size: 100% 100%;
                        color: #ccc;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
            .modeSequenceChartShowChartList{
                width: 100%;
                height: calc(100% - 78px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}