@font-face {
    font-family: num;
    src: url(../../../290.7218c42.woff) format("woff");
    font-weight: 400;
    color: #ffee00;
    font-style: normal;
    text-align: center;
}

.AreaMon {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../imgs/sysbg.png) center center no-repeat;
    background-size: cover;
    font-family: 'PingFang-SC-Regular';
    .NavMon {
        z-index: 2;
        position: absolute;
        top: 80px;
        left: 5px;
        width: 300px;
        height: calc(100% - 80px);
        background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
        .areaMonNum {
            width: 100%;
            height: 30px;
            display: flex;
            line-height: 30px;
            background: #041D3E;
            color: #2D64C6;
            div {
                margin-left: 10px;
            }
        }
        // 左侧导航头部
        .topNavMon {
            width: 100%;
            height: 30px;
            display: flex;
            margin-top: 10px;
            margin-left: 7px;
            .selectNav {
                flex: 4;
                select {
                    width: 80%;
                    height: 30px;
                    background: #0A255E;
                    margin-left: 5px;
                    text-indent: 5px;
                    cursor: pointer;
                }
                .ant-select {
                    width: 85px;
                    color: rgb(255, 255, 255);
                }
                .ant-select-selector {
                    border: none;
                    background-color: #0A2967;
                }
                .ant-select-arrow {
                    color: #fff;
                    position: absolute;
                    top: 17px;
                    right: 13px;
                }
                .ant-select-selection-item{
                    padding-top: 3px;
                }
            }
            .iptSearchNav {
                flex: 6;
                padding-left: 5px;
                position: relative;
                margin-right: 15px;
                height: 32px;
                .inptNavMon {
                    width: 80%;
                    height: 100% !important;
                    background: #0A255E;
                    border: none;
                    margin-left: 5px;
                    padding-left: 7px;
                    outline: none;
                    border-radius: 4px;
                    
                }
                .MagBox {
                    width: 20%; 
                    height: 100%;
                    background: #0A255E;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: #61A4FF;
                    text-align: center;
                    line-height: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    .action{
                        line-height: 2;
                    }
                }
            }
        }
        .listNav {
            width: 100%;
            height: calc(100% - 90px);
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .ant-menu{
                background: rgba(4,24,56,0);
                border: none;
                color: rgb(134, 183, 250);
            }
             .ant-menu-submenu-arrow::before {
                background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
            }
             .ant-menu-submenu-arrow::after {
                background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
            }
            .ant-menu-item-selected {
                background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
            }
        }
    }
    .mapContent {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(100% - 60px);
        background-color: rgba(12, 74, 131, 0.6);
        .mapContainer{
            width: 100%;
            height: 100%;
        }
        .mapabcgl-popup-content{
            background-color:rgba(18, 38, 142,.44);
            font-size: 24px;
            border: 1px solid #3661E9;
            padding: 0;
        }
        .mapabcgl-popup-anchor-top .mapabcgl-popup-tip {
            -webkit-align-self: center;
            align-self: center;
            border-top: none;
            border-bottom-color: #3661E9;
        }
        .mapabcgl-popup-anchor-bottom .mapabcgl-popup-tip {
            -webkit-align-self: center;
            align-self: center;
            border-bottom: none;
            border-top-color:  #132992;
        }
        .ant-switch {
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0.85);
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum', "tnum";
            position: relative;
            display: inline-block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 44px;
            height: 22px;
            line-height: 22px;
            vertical-align: middle;
            background-color: rgba(0, 0, 0, 0.25);
            border: 0;
            border-radius: 100px;
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .ant-switch-checked .ant-switch-handle {
            left: calc(100% - 18px - 2px);
        }
        .ant-switch-handle::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #fff;
            border-radius: 9px;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            content: '';
        }
        .code-box-demo .ant-switch {
            margin-bottom: 8px;
        }   
        .ant-switch-handle {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 18px;
            height: 18px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        .ant-switch-checked {
            background-color: #1890ff;
        }
        .ant-switch-checked .ant-switch-inner {
            margin: 0 25px 0 7px;
        }
        .ant-switch-inner {
            display: block;
            margin: 0 7px 0 25px;
            color: #fff;
            font-size: 12px;
            -webkit-transition: margin 0.2s;
            transition: margin 0.2s;
        }
        button, select {
            text-transform: none;
        }
        @keyframes animationScale {
            0% {
                transform: scale(.5);
            }
            100% {
                transform: scale(2.5);
            }
        }
        @keyframes animationAction {
            0% {
                transform:translateY(0px);
            }
            50%{
                transform:translateY(6px);
            }
            100% {
                transform:translateY(0px);
            }
        }
        .animationS{
            width:40px;
            height:20px;
            background: rgba(34,245,248, .5);
            animation: animationScale 1.5s infinite;
            -webkit-animation: animationScale 1.5s infinite;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        .animationA{
            animation: animationAction 1.5s infinite;
            -webkit-animation: animationAction 1.5s infinite;
        }
    }
    .modeSwitchBtn{
            width: 103px;
            height: 28px;
            position: absolute;
            right: 28px;
            top: 113px;
            .modeTab{
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 28px;
                background: url(../../imgs/kuang.png) center center no-repeat;
                background-size: 100% 100%;
                color: #ccc;
                font-size: 16px;
                cursor: pointer;
            }
        }
    .modeAreaMonitorHome{
        .modeAreaSlidMode{
            width: 600px;
            height: calc(100% - 110px);
            position: absolute;
            top: 90px;
            left:70px;
            background: rgba(17,52,115,.22);
            .modeAreaSlidHeadMode{
                width: 100%;
                height: 87px;
                display: flex;
                .modeAreaIptHome{
                    flex: 5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .modeAreaIpt{
                        width: 230px;
                        height: 36px;
                        background: #0A255E;
                        border: none;
                        border-radius: 4px;
                        margin-left: 5px;
                        padding-left: 7px;
                        outline: none;
                    }
                    .modeAreaIptBox{
                        width: 35px;
                        background: #0A255E;
                        position: absolute;
                        right: 35px;
                        top: 29px;
                        color: skyblue;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
                .modeAreaLengthHome{
                    display: flex;
                    flex: 3;
                    justify-content: center;
                    align-items: center;
                    .modeAreaLength{
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .modeAreaLengthNum{
                        font-size: 14px;
                        color: #65D5FF;
                        margin-left: 15px;
                        font-weight: 700;
                    }
                    .modeAreaLengthUnit{
                        font-size: 25px;
                        color: #65D5FF;
                    }
                    
                }
                .modeAreaLabelHome{
                    display: flex;
                    flex: 2;
                    .modeAreaLabel{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .modeAreaLabelIcon{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            font-size: 20px;
                            color: #6D8EF7;
                            text-align: center;
                            line-height: 25px;
                        }
                        .modeAreaLabelText{
                            font-size: 20px;
                            font-weight: 700;
                            margin-left: 6px;
                        }   
                    }
                }
            }
            .modeAreaDirection{
                width: 100%;
                height: calc(100% - 87px);
                display: flex;
                flex-direction: column;
                .modeAreaEWMode{
                    height: 50%;
                    margin-left: 30px;
                    .modeAreaEWVideo{
                        width: calc(100% - 10px);
                        height: 100%;
                        margin-left:10px;
                        margin-top: 20px;
                    }
                }
                .modeAreaSNMode{
                    height: 50%;
                    margin-left: 30px;
                    .modeAreaSNVideo{
                        width: calc(100% - 10px);
                        height: 100%;
                        margin-left:10px;
                        margin-top: 20px;
                    }
                }
            }
        }
        .modeAreaContentMode{
            width: calc(100% - 764px);
            height: calc(100% - 90px);
            position: absolute;
            top: 90px;
            right: 85px;
            background: rgba(1,27,61, 0);
            .modeAreaMonitor{
                width:100%;
                height: 100px;
                position: relative;
                .modeAreaMonitorContentSink{
                    position: absolute;
                    left: 220px;
                    top: -25px;
                    font-size: 27px;
                    color: #09A4E7;
                }
            }
            .modeSwitchBtn{
                width: 103px;
                height: 28px;
                position: absolute;
                right: -58px;
                top: 22px;
            }
            .modeAreaMonitorContent{
                width: 100%;
                height: calc(100% - 120px);
                display: flex;
                overflow-x: auto;
                .modeAreaMonitorContentHome{
                    width: 166px;
                    display: flex;
                    position: relative;
                    .modeAreaMonitorContentStrip{
                        height: 174px;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 202px;
                        left: 7px;
                    }
                    .modeAreaMonitorContentLine{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 0px;
                        left: 155px;
                        .modeAreaMonitorContentCross{
                            width:30px;
                            height: 165px;
                            font-size: 21px;
                            position: absolute;
                            top: 0px;
                            left: 7px;
                            .modeAreaMonitorContentCrossText{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                color: rgba(178,235,255, 1);
                            }
                        }
                        .modeAreaMonitorContentball{
                            width: 46px;
                            height: 46px;
                            border-radius: 50%;
                            background: red;
                            position: absolute;
                            left: -5px;
                            top: 188px;
                            background: url(../../imgs/ballP.png) center no-repeat;
                            background-size: 100% 100%;
                        }
                        .modeAreaMonitorContentList{
                            width: 168px;
                            height: 493px;
                            position: absolute;
                            left: -60px;
                            top: 240px;
                            .modeAreaMonitorContentListTop{
                                height: 87px;
                                background: url(../../imgs/phaseBac.png) center no-repeat;
                                background-size: 100% 100%;
                                .autoOper{
                                    position: absolute;
                                    right: 10px;
                                    top: 16px;
                                    font-size: 16px;
                                    color: #4A62E7;
                                    font-weight: 700;
                                }
                                .switch{
                                    position: absolute;
                                    left: 30px;
                                    top: 50px;
                                }
                                .openHand{
                                    position: absolute;
                                    left: 88px;
                                    top: 50px;
                                    font-size: 16px;
                                }
                            }
                            .modeAreaMonitorContentListBottom{
                                height: calc(100% - 87px);
                                // border: 2px solid rgba(39,74,196,1);
                                // box-shadow: inset 1px 1px 2px 2px rgba(39,74,196,1);
                                background: rgba(16,36,139,.6);
                                .modeAreaMonitorContentListTable{
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid rgba(39,74,196,.3);
                                    display: flex;
                                    flex-wrap: wrap;
                                    .modeAreaMonitorContentListImg{
                                        width: 50%;
                                        height: 65px;
                                        border: 1px solid  rgba(39,74,196,1);
                                        text-align: center;
                                        line-height: 65px;
                                        border-top: none;
                                        img{
                                            width: 64px;
                                            height: 63px;
                                        }
                                    }
                                    .modeAreaMonitorContentListNum{
                                        width: 50%;
                                        height: 65px;
                                        border: 1px solid  rgba(39,74,196,1);
                                        border-top: none;
                                        .contentListNum{
                                            width:100%;
                                            height: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font-size: 40px;
                                            font-family: num;
                                            color:#48DFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .modeAreaMonitorContentStripTwo{
                        height: 174px;
                        display: flex;
                        flex-direction: column;
                    }
                    .modeAreaMonitorContentLineTwo{
                        display: flex;
                        flex-direction: column;
                        .modeAreaMonitorContentCross{
                            width:30px;
                            height: 165px;
                            font-size: 21px;
                            position: absolute;
                            top: 0;
                            left: 7px;
                            .modeAreaMonitorContentCrossText{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                color: rgba(178,235,255, 1);
                            }
                        }
                        //球
                        .modeAreaMonitorContentball{
                            width: 46px;
                            height: 46px;
                            border-radius: 50%;
                            background: red;
                            position: absolute;
                            left: -5px;
                            top: 188px;
                            background: url(../../imgs/ballG.png) center no-repeat;
                            background-size: 100% 100%;
                        }
                        .modeAreaMonitorContentList{
                            width: 168px;
                            height: 493px;
                            position: absolute;
                            left: -60px;
                            top: 240px;
                            .modeAreaMonitorContentListTop{
                                height: 87px;
                                background: url(../../imgs/phaseBac.png) center no-repeat;
                                background-size: 100% 100%;
                                .autoOper{
                                    position: absolute;
                                    right: 10px;
                                    top: 16px;
                                    font-size: 16px;
                                    color: #4A62E7;
                                    font-weight: 700;
                                }
                                .switch{
                                    position: absolute;
                                    left: 30px;
                                    top: 50px;
                                }
                                .openHand{
                                    position: absolute;
                                    left: 88px;
                                    top: 50px;
                                    font-size: 16px;
                                }
                            }
                            .modeAreaMonitorContentListBottom{
                                height: calc(100% - 87px);
                                // border: 2px solid rgba(39,74,196,1);
                                // box-shadow: inset 1px 1px 2px 2px rgba(39,74,196,1);
                                background: rgba(16,36,139,.6);
                                .modeAreaMonitorContentListTable{
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid rgba(39,74,196,.3);
                                    display: flex;
                                    flex-wrap: wrap;
                                    .modeAreaMonitorContentListImg{
                                        width: 50%;
                                        height: 65px;
                                        border: 1px solid  rgba(39,74,196,1);
                                        text-align: center;
                                        line-height: 65px;
                                        border-top: none;
                                        img{
                                            width: 64px;
                                            height: 63px;
                                        }
                                    }
                                    .modeAreaMonitorContentListNum{
                                        width: 50%;
                                        height: 65px;
                                        border: 1px solid  rgba(39,74,196,1);
                                        border-top: none;
                                        .contentListNum{
                                            width:100%;
                                            height: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font: 40px num;
                                            color:#48DFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}