.timingWrapper {
  height: 100%;
  width: 100%;
  background-color: #070d3f;
  display: flex;
  flex-direction: column;
}
.timingcontainer {
  height: calc(100% - 70px);
  position: absolute;
  width: 100%;
  top: 70px;
  padding: 0px 25px 25px;
  .titles {
    height: 20px;
    text-align: center;
    line-height: 19px;
    background: url("../../imgs/smalltit.png") center 5px no-repeat;
    background-size: 100% 100%;
  }
  .title {
    font-size: 18px;
    color: whitesmoke;
    height: 40px;
  }
  .searchBox {
    height: 65px;
    display: flex;
    border: 1px solid #2a384e;
    padding-left: 25px;
    div {
      display: flex;
      margin-right: 20px;
      align-items: center;
      input {
        width: 140px;
      }
      &:last-child {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        :global(.ant-btn-primary) {
          height: 30px;
          color: #217892;
          border: 1px solid #217892;
          background-color: #162f47;
        }
      }
    }
  }
  .goExcal {
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > span {
      padding-right: 6px;
      color: #3bd7ee;
    }
  }
  .mountingManage {
    height: calc(100% - 180px);
    .mountingTable {
      height: 100%;
      .mountingThead {
        border: 1px solid #2a384e;
        font-size: 12px;
        height: 30px;
        border-bottom: none;
        display: flex;
      }
      .mountingTr {
        border: 1px solid #2a384e;
        height: 30px;
        position: relative;
        display: flex;
      }
      .mountingTrbox {
        height: 175px;
      }
      .mountingThead {
        background-color: rgba(14, 28, 63, 0.7);
      }
      .mountingTh,
      .mountingTd {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          cursor: pointer;
        }
      }
      .company {
        flex: 1.5;
      }
      .deviceMsg {
        margin: 0 10px;
        color: #07a8ff;
      }
      .mountingTbody {
        // height: calc(100% - 50px);
        // overflow-y: auto;
        // position: relative;
      }
    }
  }
  .paginationBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      margin-left: 15px;
    }
  }
}
.timingcontainer {
  :global(.ant-btn) {
    width: 90px;
    // border-radius: 4px;
    padding: 0;
    text-align: center;
  }
}
.searchBox {
  :global(.ant-input) {
    background-color: #06385b;
    color: white;
    outline: none;
    border: none;
  }
}
.paginationBox {
  :global(.ant-pagination-item a) {
    color: white;
  }
  :global(.ant-pagination-options) {
    color: white;
  }
  :global(.ant-pagination-item-active) {
    background-color: #1890ff;
  }
  :global(path) {
    color: white;
  }
}
