$ft_color: #dcdde2;
$bor-color: #a5fcff;
.TrunkManagementBox {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #021027;
    .sildeRight {
        position: fixed;
        top: 100px;
        // right: -300px;
        width: 300px;
        height: calc(100% - 100px);
        overflow-y: auto;
        z-index: 9;
        padding: 15px;
        transition: all 1s;
        background: rgba(5, 32, 87, 0.7);
        .slideRightBoxAdd {
            height: 100%;
            width: 100%;
            .addMainLine {
                height: 60px;
                display: flex;
                .newLine {
                    font-size: 18px;
                    width: 160px;
                    line-height: 60px;
                }
                .operationLine {
                    width: 110px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    > span {
                        width: 50px;
                        height: 30px;
                        text-align: center;
                        cursor: pointer;
                        border-radius: 3px;
                        line-height: 30px;
                        background-color: #18459b;
                    }
                }
            }
            .slideRightBoxAddBox {
                height: calc(100% - 60px);
                > p,
                .divs {
                    height: 55px;
                    color: #5f9ef2;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    > span {
                        width: 75px;
                    }
                    .inputBox {
                        flex: 1;
                        height: 30px;
                        outline: none;
                        color: #5f9ef2;
                        border: 1px solid #1c59ce;
                        background-color: #18346a;
                        padding-left: 5px;
                    }
                    .ant-select-selector {
                        color: #5f9ef2;
                        border: 1px solid #1c59ce;
                        background-color: #18346a;
                        padding-left: 5px;
                    }
                    .ant-select-arrow {
                        color: #fff;
                    }
                }
                .lineBox {
                    height: calc(100% - 330px);
                    overflow-y: auto;
                    .lineBoxRight {
                        width: 100%;
                        padding-left: 15px;
                        > p {
                            width: 100%;
                            height: 55px;
                            color: #5f9ef2;
                            display: flex;
                            margin-bottom: 0;
                            align-items: center;
                            justify-content: space-around;
                            span {
                                width: 55px;
                                height: 55px;
                            }
                            .inputBox {
                                width: 195px;
                                height: 30px;
                                outline: none;
                                border: 1px solid #1c59ce;
                                background-color: #18346a;
                                padding-left: 5px;
                            }
                            &:first-child {
                                span {
                                    background: url("../../imgs/startRoad.png") no-repeat;
                                    background-size: 35%;
                                    background-position: center;
                                }
                            }
                            &:last-child {
                                span {
                                    transform: rotate(180deg);
                                    background: url("../../imgs/endRoad.png") no-repeat;
                                    background-size: 35%;
                                    background-position: center;
                                }
                            }
                        }
                        .roadBox {
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .roadBoxLeft {
                                width: 5px;
                                height: 35px;
                                margin-left: 25px;
                                background-color: #1df249;
                                border-radius: 2px;
                            }
                            .roadBoxRight {
                                width: 195px;
                                p {
                                    width: 100%;
                                    height: 55px;
                                    color: #5f9ef2;
                                    display: flex;
                                    margin-bottom: 0;
                                    align-items: center;
                                    justify-content: space-around;
                                    span {
                                        width: 55px;
                                        height: 55px;
                                    }
                                    .inputBox {
                                        width: 195px;
                                        height: 30px;
                                        outline: none;
                                        border: 1px solid #1c59ce;
                                        background-color: #18346a;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slideRightBoxEditBox {
                height: calc(100% - 60px);
                > p {
                    height: 25px;
                    color: #5f9ef2;
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    span {
                        width: 75px;
                    }
                    .inputBox {
                        flex: 1;
                        height: 30px;
                        outline: none;
                        border: 1px solid #1c59ce;
                        background-color: #18346a;
                        padding-left: 5px;
                    }
                }
                .lineBox {
                    height: calc(100% - 150px);
                    overflow-y: auto;
                    .lineBoxer {
                        display: flex;
                        flex-direction: column;
                        .lineBoxer_item,
                        .lineBoxer_itemP {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            > span {
                                width: 5px;
                                height: 35px;
                                margin-left: 25px;
                                background-color: #1df249;
                                border-radius: 2px;
                            }
                            > .streetBoxLeft {
                                width: 5px;
                                height: 35px;
                                margin-left: 25px;
                                background-color: #1df249;
                                border-radius: 2px;
                            }
                            .streetBox {
                                width: 215px;
                                height: 55px;
                                padding-left: 15px;
                                margin: 5px 0;
                                p {
                                    margin-bottom: 0;
                                }
                                .street {
                                    height: 20px;
                                    span {
                                        display: inline-block;
                                        width: 20px;
                                        color: #15e94f;
                                        &:nth-child(2) {
                                            color: #0570ad;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .intersectionBox {
                                    width: 100%;
                                    overflow-x: auto;
                                    .intersection {
                                        height: 35px;
                                        line-height: 35px;
                                        display: flex;
                                        width: 300px;
                                        max-width: 800px;
                                        align-items: center;
                                        span {
                                            color: #02bde3;
                                            margin-left: 20px;
                                            padding: 0px 5px;
                                            height: 16px;
                                            line-height: 16px;
                                            background-color: #0668c2;
                                            border-radius: 5px;
                                        }
                                    }
                                }
                            }
                        }
                        .lineBoxer_item {
                            &:first-child {
                                > span {
                                    margin-left: 0px;
                                    width: 55px;
                                    height: 55px;
                                    background: url("../../imgs/startRoad.png") no-repeat;
                                    background-size: 35%;
                                    background-position: center;
                                }
                            }
                            &:last-child {
                                > span {
                                    margin-left: 0px;
                                    width: 55px;
                                    height: 55px;
                                    background: url("../../imgs/endRoad.png") no-repeat;
                                    background-size: 35%;
                                    background-position: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .iptSearchNavMap {
        width: 220px;
        height: 35px;
        position: absolute;
        top: 100px;
        left: 320px;
        z-index: 9;
        .inptNavMon {
            width: 90%;
            height: 100%;
            background: #0a255e;
            border: none;
            margin-left: 5px;
            padding-left: 7px;
            outline: none;
            border-radius: 4px;
        }
        .MagBox {
            width: 20%;
            height: 100%;
            background: #0a255e;
            position: absolute;
            right: 0;
            top: 0;
            color: skyblue;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .sidebarLeft {
        position: fixed;
        top: 100px;
        left: 10px;
        width: 300px;
        height: calc(100% - 100px);
        z-index: 9;
        padding: 15px;
        background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
        .tabLeft {
            height: 32px;
            width: 100%;
            display: flex;
            cursor: pointer;
            span {
                color: #4b6cba;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(10, 37, 90, 0.8);
                margin-right: 15px;
            }
            .active {
                color: white;
                background-color: #0a3987;
            }
        }
        .topNavMon {
            width: 100%;
            height: 30px;
            display: flex;
            margin-top: 10px;

            .selectNav {
                flex: 4;
                select {
                    width: 90%;
                    height: 30px;
                    background: #0a255e;
                    margin-left: 5px;
                    text-indent: 5px;
                    cursor: pointer;
                }

                .ant-select {
                    width: 85px;
                    color: #fff;
                }

                .ant-select-selector {
                    border: none;
                    background-color: #0a2967;
                }

                .ant-select-arrow {
                    color: #fff;
                }
            }

            .iptSearchNav {
                flex: 6;
                padding-left: 5px;
                position: relative;
                .inptNavMon {
                    width: 90%;
                    height: 100%;
                    background: #0a255e;
                    border: none;
                    margin-left: 5px;
                    padding-left: 7px;
                    outline: none;
                    border-radius: 4px;
                }
                .MagBox {
                    width: 20%;
                    height: 100%;
                    background: #0a255e;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: skyblue;
                    text-align: center;
                    line-height: 30px;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        .sidebarLeftBox {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            // .anticon {
            //     position: absolute;
            //     top: 15px;
            //     right: -6px;
            // }
        }
    }
    .container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 70px);
        .mapabcgl-popup-close-button {
            top: 5px;
            color: #599fe0;
            right: -55px;
            font-size: 16px;
        }
        .contentCenter {
            width: 100%;
            height: calc(100% - 20px);
            flex-direction: column;
            .title {
                height: 20px;
                text-align: center;
                line-height: 19px;
                background: url("../../imgs/smalltit.png") center 5px no-repeat;
                background-size: 100% 100%;
            }
            // .mapabcgl-marker{
            //     width: 30px!important;
            //     height: 30px!important;
            //     border-radius: 50%;
            //     background-color: #00B4FF;
            // }
            .mapabcgl-popup-content {
                padding: 0;
                min-width: 400px;
                background-color: transparent;
                .mapabcgl-popup-close-button {
                    right: 10px;
                    top: 8px;
                    font-size: 26px;
                    color: #62bbff;
                }
                .infoWindow {
                    width: 400px;
                    height: 225px;
                    background: rgba(3, 16, 96, 0.8);
                    background-image: linear-gradient(
                        to bottom,
                        rgba(3, 38, 120, 0.8),
                        rgba(0, 59, 129, 0.8),
                        rgba(3, 38, 120, 0.8)
                    );
                    font-size: 14px;
                    color: #62bbff;
                    border-radius: 4px;
                    box-shadow: inset 0 0 10px rgba(62, 112, 255, 0.8);
                    .infotitle {
                        height: 40px;
                        line-height: 40px;
                        padding-left: 20px;
                    }
                    .interMessage {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 20px;
                        justify-content: space-between;
                        .message {
                            width: 180px;
                            height: 35px;
                            text-align: left;
                            line-height: 35px;
                        }
                    }
                    .interDetails {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .monitorBtn {
                            width: 80px;
                            height: 28px;
                            text-align: center;
                            line-height: 28px;
                            background-color: rgba(98, 187, 255, 0.4);
                            cursor: pointer;
                        }
                    }
                }
            }
            .mapabcgl-ctrl-top-right {
                display: none;
            }
            .driveInfo {
                width: auto;
                height: auto;
                background: #fff;
                color: #333;
                font-size: 12px;
                padding: 15px 20px 7px 7px;
            }

            .driveInfo li {
                margin-bottom: 8px;
            }

            .driveInfo li span {
                width: 160px;
                display: inline-block;
                text-align: right;
                font-weight: 500;
                vertical-align: middle;
            }

            .driveInfo li input,
            .driveInfo li textarea {
                width: 180px;
                font-size: 12px;
                padding-left: 5px;
                color: #333;
            }

            .driveInfo li textarea {
                vertical-align: top;
                font-family: Arial;
            }

            .context_menu li {
                cursor: pointer;
            }

            .context_menu li:hover {
                color: #22a9ff;
            }
            .centerMain {
                flex: 1;
                .centerBox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .ceterLeft,
                    .centerRight {
                        width: 200px;
                        height: 100%;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow-y: auto;
                        .areaDetails {
                            width: 160px;
                            margin-bottom: 20px;
                            .areaName {
                                margin-bottom: 6px;
                                font-size: 22px;
                                color: #ffa200;
                            }
                            .details {
                                height: 42px;
                                padding-left: 7px;
                                background: url("../../imgs/singalmsg.png") center center no-repeat;
                                background-size: 100% 100%;
                                font-size: 13px;
                                .msg {
                                    display: flex;
                                    justify-content: space-between;
                                    .online,
                                    .outline {
                                        min-width: 70px;
                                        height: 20px;
                                        display: flex;
                                        align-items: center;
                                        .nomalVal {
                                            color: #2afafe;
                                        }
                                        .outlineVal {
                                            color: #818181;
                                        }
                                        .faultVal {
                                            color: #ff0001;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .center {
                        flex: 1;
                        background-color: #031334;
                        position: relative;
                        .topInfo {
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .info {
                                width: 220px;
                                height: 75px;
                                background: url("../../imgs/numbg.png") center center no-repeat;
                                background-size: 100% 100%;
                                display: flex;
                                .infoName {
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    padding-left: 10px;
                                    font-size: 16px;
                                    color: #0ff2fd;
                                    .infoText {
                                        padding-bottom: 5px;
                                    }
                                }
                                .infoValue {
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-right: 10px;
                                    .infoNum {
                                        width: 32px;
                                        height: 50px;
                                        background: url("../../imgs/22.png") center center no-repeat;
                                        background-size: 100% 100%;
                                        font: 50px num;
                                        text-indent: 3px;
                                        line-height: 50px;
                                        color: #fef500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mapabcgl-popup-content {
            padding: 0;
            background: transparent;
        }
        .mapabcgl-popup-tip {
            display: none;
        }
    }
}
.sidebarLeftBox {
    .ant-menu {
        font-size: 16px;
        color: #86b7fa;
        border-right: none;
        background-color: transparent;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(134, 183, 250, 0.85)),
            to(rgba(134, 183, 250, 0.85))
        );
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(134, 183, 250, 0.85)),
            to(rgba(134, 183, 250, 0.85))
        );
    }
    .ant-menu-item-selected {
        background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
    }
    .ant-menu-item {
        position: relative;
        width: 240px;
        padding-right: 20px;
        padding-left: 65px !important;
    }
}
