.mountingTable {
    width: 100%;
    color: white;
    height: 175px;
    background-color: #03385A;
    display: flex;
    flex-direction: column;
  .mountingThead {
    font-size: 12px;
    height: 30px;
    display: flex;
  }
  .mountingTr {
    height: 65px;
    margin-bottom: 10px;
    display: flex;
  }
  .mountingThead {
    background-color: #162f47;
  }
  .mountingTh,
  .mountingTd {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mountingThs{
    flex: 1.3;
    display: flex;
  }
  dl{
    margin: 0;
    width: 25%;
    height: 100%;
    font-size: 12px;
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
    dt{
      flex: 2.2;
      background-color: red;
    }
    dd{
      text-align: center;
      flex: 1;
    }
  }
  .deviceMsg {
    margin: 0 10px;
    border-bottom: 1px solid #07a8ff;
    padding: 2px;
    cursor: pointer;
    color: #07a8ff;
  }
  .mountingTr {
    background-color: #022A51;
  }
  //   .mountingTr:nth-child(even) {
  //     background-color: rgba(14, 28, 63, 0.7);
  //   }
  .mountingTbody {
    height: 100%;
    overflow-y: auto;
  }
}