@font-face {
  font-family: num;
  src: url(../../290.7218c42.woff) format("woff");
  font-weight: 400;
  color: #ffee00;
  font-style: normal;
  text-align: center;
}

.videoApp {
  position: relative;
  width: 100%;
  height: 100%;
  background: #070d3f;
  font-family: 'PingFang-SC-Regular';
  .mainVideoTop{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 85px;
    .mainVideoTopBg{
      width: 100%;
      height: 20px;
      background: url(../imgs/titbg.png) no-repeat;
      background-size: 100% 100%;
    }
    .mainVideoTopTit{
      position: absolute;
      top: -4px;
      left: 50%;
      transform:translate(-50%);
    }
  }
  .NavMon {
      z-index: 2;
      position: absolute;
      top: 100px;
      left: 5px;
      width: 300px;
      height: calc(100% - 100px);
      background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
      .areaMonNum {
          width: 100%;
          height: 30px;
          display: flex;
          line-height: 30px;
          background: #041D3E;
          color: #2D64C6;
          div {
              margin-left: 10px;
          }
      }
      // 左侧导航头部
      .topNavMon {
          width: 100%;
          height: 30px;
          display: flex;
          margin-top: 10px;
          margin-left: 7px;
          .topNavMonTitle{
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
          }
      }
      .listNav {
          width: 100%;
          height: calc(100% - 90px);
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          .ant-menu{
              background: rgba(4,24,56,0);
              border: none;
              color: rgb(134, 183, 250);
          }
           .ant-menu-submenu-arrow::before {
              background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
          }
           .ant-menu-submenu-arrow::after {
              background-image: -webkit-gradient(linear, left top, right top, from(rgba(134, 183, 250, 0.85)), to(rgba(134, 183, 250, 0.85)));
          }
          .ant-menu-item-selected {
              background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
          }
      }
  }
  .videoAppMon{
    width: 1440px;
    position: absolute;
    left: 272px;
    top: 480px;
    background: red;
  }
}