@font-face {
    font-family: num;
    src: url(../../290.7218c42.woff) format("woff");
    font-weight: 400;
    color: #ffee00;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family: pingfangbold;
    src: url(../utils/pingfangbold.ttf);
    font-weight: 200;
    // color: #ffee00;
    font-style: normal;
    text-align: center;
}
.ant-select-dropdown {
    background-color:  rgba(12,74,131, .6);
    .ant-select-item {
        color: #fff;
        &:hover {
            background-color: rgba(0, 141, 250, 0.5);
        }
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: rgba(0, 141, 250, 0.5);
    }
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
}
.homepageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../imgs/sysbg.png) center center no-repeat;
    background-size: cover;
    background-color: #000;
    .container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 70px);
        .asideLeft, .asideRight {
            position: absolute;
            bottom: 0;
            width: 340px;
            height: 100%;
            display: flex;
            flex-direction: column;
            .asideItem {
                flex: 1;
                min-height: 260px;
                display: flex;
                flex-direction: column;
                .title {
                    height: 18px;
                    text-align: center;
                    line-height: 17px;
                    background: url(../imgs/smalltit.png) center 5px no-repeat;
                    background-size: 100% 100%;
                }
                .itemContent {
                    flex: 1;
                    font-size: 12px;
                    overflow-y: auto;
                    .jammedSort {
                        height: 100%;
                        padding: 20px 30px 10px 20px;
                        .jammedLi {
                            padding-bottom: 10px;
                            .sortNo {
                                font-weight: bold;
                                color: #00BAFF;
                            }
                            .sortValue {
                                position: relative;
                                width: 100%;
                                height: 12px;
                                border-bottom: 1px solid rgba(0, 141, 250, 0.5);
                                .progressVal {
                                    position: absolute;
                                    top: 4px;
                                    left: 0;
                                    width: 0;
                                    height: 5px;
                                    background-color: #ff0000;
                                    transition: all .3s;
                                }
                                .value {
                                    position: absolute;
                                    right: -16px;
                                    bottom: 1px;
                                }
                            }
                        }
                    }
                    .faultRate {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        font-size: 13px;
                        .faultDetails {
                            height: 30px;
                            display: flex;
                            align-items: center;
                            .faultNo {
                                width: 18px;
                                height: 18px;
                                margin: 1px 5px 0 0;
                                text-align: center;
                                line-height: 17px;
                                border-radius: 50%;
                                color: #0F2854;
                            }
                            .faultArea {
                                width: 70px;
                                padding-right: 5px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                color: #CAF2F5;
                            }
                            .present {
                                width: 50px;
                                color: #CAF2F5;
                            }
                            .faultValue {
                                position: relative;
                                width: 180px;
                                height: 12px;
                                background-color: #0F3270;
                                .progress {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    border-radius: 0 10px 10px 0;
                                    background-image: linear-gradient(to right, #06F0B8, #3859FF);
                                }
                                .value {
                                    position: absolute;
                                    bottom: -2px;
                                    right: 2px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .singalStatus {
                        height: 100%;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        .statusEach, .statusInfo {
                            height: 20px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .each {
                                margin-left: 10px;
                                padding-bottom: 1px;
                                text-decoration: underline;
                                cursor: pointer;
                                &:hover {
                                    color: #2AFAFD;
                                }
                            }
                            .legendInfo {
                                margin-left: 20px;
                                display: flex;
                                .statusLegend {
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 5px;
                                }
                                .nomal {
                                    background-color: #009944;
                                }
                                .fault {
                                    background-color: #890202;
                                }
                                .outline {
                                    background-color:#996002;
                                }
                            }
                        }
                        .statusDetails {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            overflow-y: auto;
                            padding: 0 10px;
                            .singalMsg {
                                height: 30px;
                                display: flex;
                                align-items: center;
                                margin-top: 10px;
                                .singalName {
                                    width: 60px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .presents {
                                    flex: 1;
                                    display: flex;
                                    .nomals, .faults, .outlines {
                                        height: 4px;
                                        position: relative;
                                        span {
                                            position: absolute;
                                            bottom: 4px;
                                            right: 0px;
                                        }
                                    }
                                    .nomals {
                                        background-color: #009944;
                                    }
                                    .faults {
                                        background-color: #890202;
                                    }
                                    .outlines {
                                        background-color: #996002;
                                    }
                                }
                            }
                        }
                    }
                    .holdRate, .runRate {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .asideLeft {
            left: 0;
        }
        .asideRight {
            right: 0;
        }
        .contentCenter {
            position: absolute;
            top: 0;
            left: 350px;
            width: calc(100% - 700px);
            height: 100%;
            display: flex;
            flex-direction: column;
            .interSearchBox {
                z-index: 1;
                position: absolute;
                top: 20px;
                left: 0;
                .ant-select-selector {
                    background-color: rgba(12,74,131, .6);
                    border: 1px solid #0E6ABF;
                    color: #fff;
                }
                .ant-select-arrow {
                    color: #fff;
                }
            }
            
            .mapLegend {
                position: absolute;
                bottom: 5px;
                right: 0;
                height: 30px;
                display: flex;
                flex-direction: column;
                background-color: rgba(12,74,131, .6);
                border: 1px solid #0E6ABF;
                .pointStatus, .legendBox {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .statusItem {
                        width: 80px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        .pointIcon {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                        }
                        .onlineColor {
                            background-color: #01FA00;
                        }
                        .offlineColor {
                            background-color: #D7C19C;
                        }
                        .faultColor {
                            background-color: #FF0200;
                        }
                    }
                    .legendItem {
                        width: 80px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        .legenIcon {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }
                        .coverage {
                            background: url(../imgs/coverage.png) center center no-repeat;
                            background-size: 100% 100%;
                        }
                        .condition {
                            width: 10px;
                            background: url(../imgs/condition.png) center center no-repeat;
                            background-size: 100% 100%;
                        }
                        .minitor {
                            width: 20px;
                            height: 10px;
                            background: url(../imgs/moni.png) center center no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    .legendActive {
                        background-color: rgba(25,47,84,.8);
                        opacity: .5;
                    }
                }
                .singalModeBox {
                    width: 180px;
                    padding: 5px 10px;
                    background-color: rgba(12,74,131, .6);
                    border: 1px solid #0E6ABF;
                    margin: 10px 0 0 -1px;
                    .ant-checkbox-wrapper {
                        font-size: 13px;
                        color: #fff;
                        .ant-checkbox-inner {
                            width: 14px;
                            height: 14px;
                            background-color: transparent;
                            border-color: #00A0E9;
                        }
                    }
                    .checkMsg {
                        height: 25px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .mapabcgl-popup-anchor-bottom {
                .mapabcgl-popup-tip {
                    border-top-color: rgba(3, 38, 120, .8);
                }
            }
            .mapabcgl-popup-anchor-top {
                .mapabcgl-popup-tip {
                    border-bottom-color: rgba(3, 38, 120, .8);
                }
            }
            .mapabcgl-popup-anchor-left {
                .mapabcgl-popup-tip {
                    border-right-color: rgba(3, 38, 120, .8);
                }
            }
            .mapabcgl-popup-anchor-right {
                .mapabcgl-popup-tip {
                    border-left-color: rgba(3, 38, 120, .8);
                }
            }
            .mapabcgl-popup-content {
                padding: 0;
                background-color: transparent;
                .mapabcgl-popup-close-button {
                    right: 10px;
                    top: 8px;
                    font-size: 26px;
                    color: #62bbff;
                }
                .infoWindow {
                    width: 400px;
                    height: 225px;
                    background: rgba(3, 16, 96, 0.8);
                    background-image: linear-gradient(to bottom, rgba(3, 38, 120, .8), rgba(0, 59, 129, .8), rgba(3, 38, 120, .8));
                    font-size: 14px;
                    color: #62bbff;
                    border-radius: 4px;
                    box-shadow: inset 0 0 10px rgba(62, 112, 255, .8);
                    .infotitle {
                        height: 40px;
                        line-height: 40px;
                        padding-left: 20px;
                    }
                    .interMessage {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 20px;
                        justify-content: space-between;
                        .message {
                            width: 180px;
                            height: 35px;
                            text-align: left;
                            line-height: 35px;
                        }
                    }
                    .interDetails {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .monitorBtn {
                            width: 80px;
                            height: 28px;
                            text-align: center;
                            line-height: 28px;
                            background-color: rgba(98, 187, 255, .4);
                            cursor: pointer;
                        }
                    }
                }
            }
            .title {
                height: 20px;
                text-align: center;
                line-height: 19px;
                background: url(../imgs/titbg.png) center 5px no-repeat;
                background-size: 100% 100%;
            }
            .centerMain {
                flex: 1;
                overflow: hidden;
                .centerBox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .ceterLeft, .centerRight {
                        width: 200px;
                        height: 100%;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow-y: auto;
                        .areaDetails {
                            width: 160px;
                            margin-bottom: 18px;
                            .areaName {
                                margin-bottom: 6px;
                                font-size: 22px;
                                color: #FFA200;
                            }
                            .details {
                                height: 42px;
                                padding-left: 7px;
                                background: url(../imgs/singalmsg.png) center center no-repeat;
                                background-size: 100% 100%;
                                font-size: 13px;
                                .msg {
                                    display: flex;
                                    justify-content: space-between;
                                    .online, .outline {
                                        min-width: 70px;
                                        height: 20px;
                                        display: flex;
                                        align-items: center;
                                        .nomalVal {
                                            color: #2AFAFE;
                                        }
                                        .outlineVal {
                                            color: #818181;
                                        }
                                        .faultVal {
                                            color: #FF0001;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .center {
                        flex: 1;
                        background-color: #031334;
                        position: relative;
                        .topInfo {
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .info {
                                width: 225px;
                                height: 75px;
                                background: url(../imgs/numbg.png) center center no-repeat;
                                background-size: 100% 100%;
                                display: flex;
                                .infoName {
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    padding-left: 10px;
                                    font-size: 17px;
                                    font-family: 'pingfangbold';
                                    color: #0FF2FD;
                                    .infoText {
                                        padding-bottom: 5px;
                                    }
                                }
                                .infoValue {
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-right: 10px;
                                    .infoNum {
                                        width: 32px;
                                        height: 50px;
                                        background: url(../imgs/22.png) center center no-repeat;
                                        background-size: 100% 100%;
                                        font: 50px num;
                                        text-indent: 3px;
                                        line-height: 50px;
                                        color: #FEF500;
                                    }
                                }
                            }
                        }
                        .centerMap {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: calc(100% - 100px);
                            // background: url(../imgs/mapbg.png) center center no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}
