$ft_color: #dcdde2;
$bor-color: #a5fcff;
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type="number"]{ -moz-appearance: textfield; }
@keyframes rotateDeg {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
.ant-modal{
    height:100%;
}
.ant-modal-header{
    background:#051B44;
    border-bottom: 1px  rgba(5, 38, 89, 1) solid;
    font-size:18px;
    .ant-modal-title{
        color:#00E7F1;
    }
}
.ant-modal-content{
    background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
    color:#00E7F1;
    height:calc(100% - 40px);
    margin:20px 0;
    .modalBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        .greenWrapper {
            z-index: 13;
            height: calc(100% - 40px);
            padding-bottom: 25px;
            .greenWave {
                padding-bottom: 15px;
                height: 525px;
                width: 100%;
                border-bottom: 1px solid #3D839D;
            }
        }
        .modalSearch, .modalContent{
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            .itemContent{
                flex:1;
            }
            .chartsItem {
                padding: 0 5px;
                margin: 2px;
                min-width: 33%;
                flex: 1;
                background: #051B44;
                .itemTitle {
                    position: relative;
                    padding: 5px 0 0 5px;
                    font-size: 15px;
                    color: #25B8D4;
                    .chartsRoom {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        transition: all .2s;
                        cursor: pointer;
                        &:hover {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
.ant-modal-close-x{
    color:#00E7F1;
    & svg:hover{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transition:  all .5s;
        -webkit-transition:  all .5s;
        -moz-transition:  all .5s;
        -ms-transition:  all .5s;
        -o-transition:  all .5s;
    }
}
.ant-modal-footer{
    display: none;
}
.interContainer {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1001;
    .zoomChartsBox {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        .zoomBox {
            width: 90%;
            padding: 10px 0;
            margin-top: -50px;
            border-radius: 5px;
            background: linear-gradient(to bottom, rgba(29, 64, 113, 0.9), rgba(21, 46, 83, 0.9));
            .itemTitle {
                position: relative;
                padding-left: 10px;
                font-size: 16px;
                color: #25B8D4;
                .chartsRoom {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    transition: all .2s;
                    cursor: pointer;
                    &:hover {
                        font-size: 20px;
                    }
                }
            }
        }
    }
  }
.specialTopicBox {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #021027;
    overflow: hidden;
    .sidebarLeft,.sidebarRight {
        position: fixed;
        top: 82px;
        left: 0;
        width: 300px;
        height: calc(100% - 82px);
        z-index: 9;
        padding: 15px;
        background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
        .iconDirection{
            line-height: 80px;
            height:80px;
            width: 20px;
            position: absolute;
            top:50%;
            right:-20px;
            background: rgba(1, 17, 50, 0.8);
            border-left:none;
            transform:translate(0,-50%) ;
            -webkit-transform:translate(0,-50%) ;
            -moz-transform:translate(0,-50%) ;
            -ms-transform:translate(0,-50%) ;
            -o-transform:translate(0,-50%) ;
            cursor: pointer;
            span{
                pointer-events:none;
            }
        }
        .asideItem {
            height: 100%;
            display: flex;
            flex-direction: column;
            .signaContainer_right_bom {
                height: 240px;
                display: flex;
                background-color: rgba(2, 24, 61, 0.7);
                flex-direction: column;
                .signaRB_top {
                  height: 40px;
                  display: flex;
                  div {
                    flex: 1;
                    font-size: 16px;
                    background-color: #062551;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin: 0 1px;
                    border: 1px solid #0f3358;
                  }
                }
                .signaRB_bom {
                  flex: 1;
                }
              }
            .itemContent {
                flex: 1;
                font-size: 12px;
                overflow-y: auto;
                .leftTit{
                    font-size: 20px;
                }
                .interSearch {
                  width:100%;
                  padding:20px 0;
                  display: flex;
                  justify-content:center;
                  align-items: center;
                  background: rgba(1, 17, 50, 0.8);
                  .ant-select {
                      width: 85px;
                      color: #fff;
                  }
                  .ant-select-selector {
                      border: none;
                      background-color: #0A2967;
                  }
                  .ant-select-arrow {
                      color: #fff;
                  }
                  .searchInput {
                      position: relative;
                      .inputBox {
                          width: 180px;
                          height: 32px;
                          margin-left: 10px;
                          padding-left: 5px;
                          border: none;
                          outline: none;
                          border-radius: 4px;
                          background-color: #0A2967;
                      }
                      .searchIcon {
                          position: absolute;
                          top: 7px;
                          right: 5px;
                          font-size: 18px;
                          color: #09A4E7;
                      }
                  }
                }
                .runRate {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
        }
    }
    .sidebarRight{
        width:330px;
        top:70px;
        right:0;
        bottom:0;
        left: unset;
        background: unset;
        padding:0;
        display: flex;
        flex-direction: column;
        .asideItem {
            flex: 1;
            min-height: 260px;
            display: flex;
            flex-direction: column;
            .title {
                height: 18px;
                text-align: center;
                line-height: 17px;
                background: url(../imgs/smalltit.png) center 5px no-repeat;
                background-size: 100% 100%;
            }
            .itemContent {
                flex: 1;
                font-size: 12px;
                overflow-y: auto;
                .faultRate {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    font-size: 13px;
                    height: 100%;
                }
                .holdRate, .runRate {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    
    }
    .container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 70px);
        .contentCenter {
            width: calc(100% - 340px);
            height: calc(100% - 70px);
            flex-direction: column;
            position: relative;
            .title {
                height: 20px;
                text-align: center;
                line-height: 19px;
                background: url("../imgs/smalltit.png") center 5px no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left:0;
                right:0;
                top:0;
                z-index: 1;
            }
            .circleTag{
                width:320px;
                position: absolute;
                right:8px;
                bottom:0;
                background-color: rgba(12, 74, 131, 0.6);
                border: 1px solid #0E6ABF;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                z-index: 1;
                > span{
                    width:49%;
                    padding:3px 0 3px 18px;
                    text-align: left;
                    >i {
                        width:15px;
                        height:15px;
                        display: inline-block;
                        background: #69D1F4;
                        position: relative;
                        top:1px;
                        left:-8px;
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        -ms-border-radius: 100%;
                        -o-border-radius: 100%;
                    }
                    .iBgColor1{background: #0B73DE;}
                    .iBgColor2{background: #06FE02;}
                    .iBgColor3{background: #F4934A;}
                    .iBgColor4{background: #7A6858;}
                    .iBgColor5{background: #7C0129;}
                }
            }
            .map-container{
                position: absolute;
                top:12px;
                left:0;
                right:0;
            }
            .mapabcgl-ctrl-top-right {
                display: none;
            }
            .driveInfo {
                width: auto;
                height: auto;
                background: #fff;
                color: #333;
                font-size: 12px;
                padding: 15px 20px 7px 7px;
            }

            .driveInfo li {
                margin-bottom: 8px;
            }

            .driveInfo li span {
                width: 160px;
                display: inline-block;
                text-align: right;
                font-weight: 500;
                vertical-align: middle;
            }

            .driveInfo li input,
            .driveInfo li textarea {
                width: 180px;
                font-size: 12px;
                padding-left: 5px;
                color: #333;
            }

            .driveInfo li textarea {
                vertical-align: top;
                font-family: Arial;
            }

            .context_menu li {
                cursor: pointer;
            }

            .context_menu li:hover {
                color: #22a9ff;
            }
            
        }
    }
}
.menuBox{
    width:100%;
    height: 100%;
    padding:0 15px;
    // background: linear-gradient(to bottom, rgba(1, 17, 50, 0.8), rgba(5, 38, 89, 0.6));
    .ant-menu {
      font-size: 16px;
      color: white;
      border-right: none;
      background-color: transparent;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(134, 183, 250, 0.85)),
            to(rgba(134, 183, 250, 0.85))
        );
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(134, 183, 250, 0.85)),
            to(rgba(134, 183, 250, 0.85))
        );
    }
    .ant-menu-submenu-active{
      background: linear-gradient(90deg, rgba(52, 92, 167, 0.02), rgba(16, 68, 175, 0.99), rgba(52, 92, 167, 0));
    }
    .ant-menu-item-selected {
        background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: linear-gradient(to right, rgba(1, 17, 50, 0.8), rgba(21, 63, 149, 0.8), rgba(5, 38, 89, 0.6));
    }
    .ant-menu-item {
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 65px !important;
    }
    .anticon {
        position: absolute;
        top: 15px;
        right: -6px;
    }
  }
  .ant-menu-inline{
    border-right:none;
  }
//   地图浮层
.mapabcgl-popup-anchor-bottom {
    .mapabcgl-popup-tip {
        border-top-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-top {
    .mapabcgl-popup-tip {
        border-bottom-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-left {
    .mapabcgl-popup-tip {
        border-right-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-right {
    .mapabcgl-popup-tip {
        border-left-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-top-right {
    .mapabcgl-popup-tip {
        border-bottom-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-top-left {
    .mapabcgl-popup-tip {
        border-bottom-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-bottom-right {
    .mapabcgl-popup-tip {
        border-top-color: rgba(3, 38, 120, .8);
    }
}
.mapabcgl-popup-anchor-bottom-left {
    .mapabcgl-popup-tip {
        border-top-color: rgba(3, 38, 120, .8);
    }
}

.mapabcgl-popup-content {
    padding: 0;
    background-color: transparent;
    .mapabcgl-popup-close-button {
        right: 10px;
        top: 8px;
        font-size: 26px;
        color: #62bbff;
    }
    .infoWindow {
        width: 200px;
        height: 325px;
        background: rgba(3, 16, 96, 0.5);
        background-image: linear-gradient(to bottom, rgba(3, 38, 120, .5), rgba(0, 59, 129, .5), rgba(3, 38, 120, .5));
        font-size: 14px;
        color: #62bbff;
        border-radius: 4px;
        box-shadow: inset 0 0 4px rgba(62, 112, 255, .5);
        .infotitle {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        .interMessage {
            display: flex;
            flex-wrap: wrap;
            padding-left: 20px;
            justify-content: space-between;
            .message {
                width: 180px;
                height: 35px;
                text-align: left;
                line-height: 35px;
            }
        }
        .interDetails {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .monitorBtn {
                width: 80px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                background:url(../imgs/navbtn.png) no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
// 路口监控 > 详情
.detailPopBox{
    padding:0 20px 0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#021027;
    z-index:20;
    > i {
        width:29px;
        height:31px;
        position: absolute;
        right:20px;
        top:20px;
        display: inline-block;
        cursor: pointer;
        background: url(../imgs/iconBack.png) no-repeat;
    }
    .sidebarRight{
        width:486px;
        right:20px;
        .itemContent {
            flex: 1;
            font-size: 12px;
            overflow-y: auto;
            .faultRate {
                justify-content: space-between;
                flex-direction: unset!important;
                flex-wrap: nowrap;
                align-items: flex-start;
                .leftMenu{
                    width:35px;
                    height: auto;
                    line-height: 1.2;
                    font-size:16px;
                    font-weight: bold;
                    color: #6DB6DF;
                    word-wrap: break-word;
                    height: auto;
                    padding:10px 5px;
                    text-align: center;
                    background: #02325D;
                }
                .rightMenuContent{
                    width: calc(100% - 40px);
                    .itemLine{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 55px;
                        background: url(../imgs/interTitBottomBg.png) no-repeat center bottom;
                        color:#fff;
                        >span{
                            flex: 1;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                    .itemLine:nth-child(odd){
                        color:#6DB6DF;
                    }
                }
            }
        }
        // interTitBottomBg.png
    }
    .leftCenter{
        width: calc(100% - 501px);
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .detailPopName{
            padding-left:20px;
            font-size:26px;
            line-height: 70px;
            color:#ffffff;
        }
        .roadInterBox{
            flex:2;
            flex-direction: column;
            position: relative;
            .title {
                width:100%;
                height: 20px;
                text-align: center;
                line-height: 19px;
                background: url("../imgs/smalltit.png") center 5px no-repeat;
                background-size: 100% 100%;
            }
            .roadInterBg{
                width:100%;
                height: calc(100% - 20px);
                background:url(../imgs/popBg.png) no-repeat center center;
                background-size: contain;
                position: relative;
                > em {
                    width:109px;
                    height:109px;
                    text-align: center;
                    background:url(../imgs/timeBgText.png) no-repeat;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    > i{
                        width:109px;
                        line-height: 109px;
                        font-size: 28px;
                        font-weight: bold;
                        color: #fff;
                        position: absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index: 1; 
                    }                   
                }
                > em::after{
                    width:99px;
                    height:99px;
                    display: inline-block;
                    content: '';
                    position: absolute;
                    top:5px;
                    left:5px;
                    background: #051431;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    z-index: 0;
                }
                > em::before{
                    width:114px;
                    height:114px;
                    display: inline-block;
                    content: '';
                    background: url(../imgs/timeCircle.png) no-repeat right center;
                    position: absolute;
                    top:-3px;
                    left:-3px;
                    animation: rotateDeg 1s infinite;
                    -webkit-animation: rotateDeg 1s infinite;
                }
            }
            .controlBtnBox{
                position: absolute;
                right:0;
                bottom:20px;
                display: flex;
                justify-content: center;
                align-items: center;
                > span{
                    width: 100px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    background:url(../imgs/kuang.png) no-repeat;
                    background-size: 100% 100%;
                    cursor: pointer;
                    user-select: none;
                    margin-left:15px;
                }
            }
        }
        .roadLineChartsBox{
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .chartsItem{
                width:49.5%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-top: -8px;
                .titleCharts {
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    line-height: 19px;
                    background: url("../imgs/smalltit.png") center 5px no-repeat;
                    background-size: 100% 100%;
                }
                .chartsBox{
                    width: 100%;
                    height: calc(100% - 20px);
                }
            }
        }
    }
}
