@font-face {
    font-family: pingfangbold;
    src: url(../../utils/pingfangbold.ttf);
    font-weight: 200;
    // color: #ffee00;
    font-style: normal;
    text-align: center;
}
.interConfMsg {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .confMsgBox {
        position: relative;
        width: 80%;
        height: 85%;
        padding: 15px;
        background-color: rgba(3, 16, 96, .7);
        border-radius: 0 0 6px 6px;
        background-image: linear-gradient(0deg, rgba(0, 59, 129, 0), rgba(0, 38, 120, 0.99), rgba(0, 46, 146, 0.02));
        box-shadow: inset 0 0 10px #13419B;
        .closeBox {
            position: absolute;
            top: 0;
            right: -25px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            box-shadow: inset 0 0 10px #13419B;
            .closeIcon {
                font-size: 16px;
                color:#7ED7FF;
                transition: all .3s;
                &:hover {
                    transform: rotate(-180deg) scale(1.2);
                }
            }
        }
        .confInterName {
            position: absolute;
            top: -30px;
            left: 0;
            height: 30px;
            padding: 0 15px;
            line-height: 30px;
            background-color: RGBA(4, 47, 106, .5);
            box-shadow: inset 0 0 15px #0A3E82;
            border-radius: 5px 5px 0 0;
            font-size: 16px;
            color: #7ED7FF;
        }
        .interMsg {
            height: 80px;
            border: 1px solid rgba(136, 175, 248, .3);
            .msgDetails {
                display: flex;
                height: 40px;
                align-items: center;
                color: #88AFF8;
                .msgItem {
                    flex: 1;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
        .interConflist {
            height: 30px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(136, 175, 248, .3);
            .baseItem {
                width: 100px;
                font-size: 14px;
                color: #88AFF8;
                text-align: center;
                cursor: pointer;
                transition: all .2s;
                &:hover {
                    color: #40E7FF;
                }
            }
            .activeItem {
                color: #40E7FF;
            }
        }
        .confContent {
            height: calc(100% - 120px);
            .interPicBox {
                position: relative;
                height: 100%;
                padding-top: 10px;
                display: flex;
                justify-content: center;
                .pleaseUpload {
                    display: flex;
                    align-items: center;
                    font-family: pingfangbold;
                    font-size: 23px;
                    color: #88AFF8;
                }
                .uploadPic {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 70px;
                    height: 28px;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 28px;
                    background-color: #0D3DA2;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .interConfDetails {
                height: 100%;
                display: flex;
                padding-top: 10px;
                .confDetails {
                    flex: 0 500px;
                    padding-left: 15px;
                    border-left: 1px solid rgba(136, 175, 248, .2);
                    .confTable {
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgba(136, 175, 248, .2);
                        .confThead {
                            background-color: rgba(0, 160, 233, .3);
                        }
                        .confThead, .confTr {
                            display: flex;
                            .confTh, .confTd {
                                flex: 1;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .ant-select-selector {
                                    height: 28px;
                                    background-color: transparent;
                                    border-color: rgba(136, 175, 248, .4);
                                    border-radius: 4px;
                                    box-shadow: none;
                                }
                                .ant-select-selection-item {
                                    line-height: 26px;
                                    color: #fff;
                                }
                                .ant-select-arrow {
                                    color: #fff;
                                }
                                .identification {
                                    width: 35px;
                                    height: 35px;
                                    text-align: center;
                                    background: rgba(136, 175, 248, 0.2);
                                }
                                .relationInput {
                                    height: 28px;
                                    width: 70%;
                                    text-align: center;
                                    background-color: transparent;
                                    border: 1px solid rgba(136, 175, 248, .4);
                                    border-radius: 4px;
                                    outline: none;
                                }
                            }
                        }
                    }
                    .actionBtnBox {
                        padding-top: 10px;
                        display: flex;
                        justify-content: flex-end;
                        .saveBtn {
                            width: 65px;
                            height: 30px;
                            margin-left: 10px;
                            text-align: center;
                            line-height: 30px;
                            background: rgba(13, 61, 162, .6);
                            box-shadow: inset 0 0 10px #093EBD;
                            cursor: pointer;
                        }
                    }
                }
                .deviceConf {
                    flex: 1;
                    height: 100%;
                    .deviceList {
                        display: flex;
                        height: 50px;
                        .devicePicBox {
                            width: 50px;
                            height: 50px;
                            margin-right: 10px;
                            background: rgba(136, 175, 248, 0.2);
                            border: 1px solid rgba(136, 175, 248, 0.3);
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .picConfig {
                        height: calc(100% - 50px);
                        padding-top: 10px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}